<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/third-party/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/own-users.css">

    <title>Document</title>
    </head>
<body>
    <a class="logo" href="/">BloodSend</a>
    <div>
        <h1>User: <%= userData.firstname %> <%= userData.lastname %></h1>
        <script>
            $(document).ready(function(){
                $("#deletebutton").click(function(){
                    var embeddedUserId = "<%= userId %>"
                    $.ajax({
                        url: `/users/${embeddedUserId}`,
                        method: "DELETE",

                        success: function(){
                            console.log("account deleted")
                        },
                        error: function(error){
                            console.log(error)
                        }

                    })
                })
            })
        </script>
        <button  id="deletebutton">Delete account</button>
        <button  id="logout">Log out</button>
        <script>
            $(document).ready(function(){
                $("#logout").click(function(){
                    var embeddedUserId = "<%= userId %>"
                    
                    $.ajax({
                        url: `/users/${embeddedUserId}`,
                        method: "POST",

                        success: function(){
                            console.log("User Logged out")
                        },
                        error: function(error){
                            console.log(error)
                        }
                        
                    })
                
                })
            })

        </script>
        <ul>
            <li>Unique id: <%= userId %></li>
            <li>Blood type: <%= userData.bloodtype %></li>
            <li>Seeking Blood: <%= userData.donor %></li>
            <li>Email: <%= userData.email %></li>
            <li>Phone number: <%= userData.phonenumber %></li>
        </ul>
    </div>
</body>
</html>