<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="logo" href="/">BloodSend</a>
    <div>
        <h1>User: <%= userData.firstname %> <%= userData.lastname %></h1>
        <ul>
            <li>unique id: <%= userId %></li>
            <li>blood type: <%= userData.bloodtype %></li>
            <li>looking to donate: <%= userData.donor %></li>
            <li>email: <%= userData.email %></li>
            <li>phone number: <%= userData.phonenumber %></li>
        </ul>
    </div>
</body>
</html>