<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/users.css">

    <title>Document</title>

</head>
<body>
    <a class="logo" href="/">BloodSend</a>
    <div>
        <h1>User: <%= userData.firstname %> <%= userData.lastname %></h1>
        <ul>
            <li>Unique id: <%= userId %></li>
            <li>Blood type: <%= userData.bloodtype %></li>
            <li>Seeking Blood: <%= userData.donor %></li>
            <li>Email: <%= userData.email %></li>
            <li>Phone number: <%= userData.phonenumber %></li>
        </ul>
    </div>
</body>
</html>